stages:
  - build
  # - test

variables:
  NIX_CONFIG: "experimental-features = nix-command flakes"

default:
  image: nixos/nix
  tags:
    - nix

build:
  stage: build
  script:
    - >
      nix develop .#ci --command bash -c "
      cabal update &&
      task build &&
      task docs
      "
  artifacts:
    paths:
      - dist/doc/
